<div class="messages-container">
<p><%= link_to 'Send a Message', new_user_message_path(current_user) %></p>

<h2>Sent Messages:</h2>

  <div class="message_list">
    <% @messages.each do |message| %>
      <div>
        <p>To: <%= full_name_of(message.receiver) %></p>

        <p>Subject: <%= message.subject %></p>
      </div>
    <% end %>
  </div>

</div>