<div class="friend_container">
  <h2>Friends</h2>
  <ul class="user_list">
    <%= render 'users/friend' %>

  </ul>
</div>
<div class="non_friend_container">
  <h2>Make Some Friends</h2>
  <ul class="user_list">
    <%= render 'users/non_friend'  %>
  </ul>
</div>