<div class="friend_container">
  <h2>Friends</h2>
  <ul class="user_list">
    <%= render partial: 'users/user', collection: @list_of_friends, locals: {is_friend: true}   %>
  </ul>
</div>
<div class="non_friend_container">
  <h2>Make Some Friends</h2>
  <ul class="user_list">
    <%= render partial: 'users/user', collection: @list_of_non_friends, locals: {is_friend: false}  %>
  </ul>
</div>
