<p class="registration_error_message">
  Your registration is not yet confirmed.
  Please check your email to confirm registration or resend the email to <%= @user.email %>:
</p>
<div class="centered_link_container">
  <%= link_to("Resend Confirmation Email", resend_confirmation_path, :class => "button_default") %>
</div>