<img src="<%= image_path %>">
From: <%= sender_name %>
<br/>
Subject: <%= subject %>
<a href="#" data-behavior="show-body" id="show-body">Show</a>
<!--<a href="#" data-behavior="show-body" id="show-body-please">&#8665;</a>-->