form label {
  display: inline;
//  min-width: 175px;
  width: 33%;
  float: left;
  font-size: 1.15em;
}

form input {
//  min-width: 175px;
  width: 66%;
  padding: .6em;

}

.field_with_errors input {
  border: 1px solid red;
}

.authentication_form{
  max-width:33em;
  min-width:25em;
  margin:0 auto;
  h2{
    margin-left: 33%;
  }
  input[type="submit"]{
    margin-left: 33%;
    width: 8em;
    font-size: 1.5em;
    padding: .6em 0;
  }
}
