body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.tag_line {
  color: #FF9900;
  font-weight: bold;
  width:80%;
  margin:1em auto;
  font-size:2em;
  text-align:center;
}

.flash_messages {
  font-family: 'Roboto', sans-serif;
  background-color: lightgreen;
  font-size: 200%;
  min-width: 100%;
  color: white;
  text-align: center;
}
html {
  margin:0;
  padding:0;
  height:100%;
}

#body_wrapper {
  min-height:100%;
  position:relative;
}

.body_container {
  font-family: 'Roboto', sans-serif;
  min-height: 350px;
  margin: 0 auto;
  padding-bottom:4em;
}

.inner_container {
  max-width: 980px;
  margin: 0 auto;
  min-height:100%;
  position:relative;
}

.root_page_container {

  font-family: 'Roboto', sans-serif;
  min-height: 425px;
}

.root_text {
  margin-left: 5em;
  margin-top: 5em;
}

.root_text a {
  text-decoration: none;
  color: #FF9900
}

.button_default {
  font-size: .9em;
  background-color: #FF9900;
  text-decoration: none;
  padding: .6em;
  color: black;
  border: 2px outset buttonface;
  margin: auto;
}

.centered_link_container {
  width: 100%;
  text-align: center;
  margin-top: 2.5em;
}

.error {
  color: red;
}

.registration_error_message {
  text-align: center;
  margin-top: 30px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

footer {
  background-color: #3299BB;
  font-family: 'Roboto', sans-serif;
  width:100%;
  height:3em;
  position:absolute;
  bottom:0;
  width:100%;
}


