table tr{
  padding: 1.5em;
}

table td{
  padding: 1em;
}

.profile_pic {
  border: 2px solid black;
  border-radius: 5px;
}

#posts_container {
  text-align: left;
}

.one_half {
  width: 450px;
  display: inline-block;
  float: left;
  padding: 10px;
}

.profile_thumb {
  max-height: 100px;
  max-width: 80px;
  width: auto;
  height: auto;
}


