
.user_index {
  width: 50%;
  min-width: 400px;
  margin: 0 auto;
}

li.user {
  padding: 1em;
  clear: both;
  overflow: hidden;
}
li.user:nth-child(odd) {
  background-color: #E9E9E9;
}
li.user:nth-child(even) {
  background-color: #BCBCBC;
}

.user_image {
  display: block;
  float: left;
}

.user_name {
  display: block;
  float: left;
  width: 10em;
  margin-left: 1em;
  padding: 1em;

}

.friend_button {
  display: block;
  float: left;
  padding: 1em;
  button[type="submit"] {
    background-color: #FF9900;
    font-size: 1em;
  }
}